
* {
  font-family: 'Roboto', sans-serif;
  color: #262626;
}

.container {
  background-color: #D9D4D2;
  padding: 200px;
}

.title-font {
  color: #262626;
  font-size: 100px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.square-container {
  display: flex;
  gap: 10px;
}

.company-square {
  background-color: hsl(10, 7%, 82%);
  height: 200px;
  width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
}

.company-square:hover {
  background: hsl(10,7%,74%);

}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* text-align: center; */
}

.initial-letter {
  font-size: 24px;
  font-weight: 700;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: bold;
}

.sports-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sport {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: hsl(10, 7%, 82%);
  max-width: fit-content;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.skill-bar {
  background-color: 	hsl(0, 6%, 70%);
  width: 30px;
  height: 5px;
}

.sport:hover {
  background: hsl(10,7%,74%);
}

.sport:hover .skill-bar:not(.active) {
  background-color: hsl(0, 6%, 85%);;
}

.skill-level {
  display: flex;
  gap: 3px;
}

.skill-bar.active {
  background-color: #262626;
}